.container {
  position: absolute;
  top: -95%;
  left: 0%;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 10px;
  width: max-content;
  font-size: 20px;
  cursor: default;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.item {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.item button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
}

.item button:hover {
  background-color: var(--bg-primary);
}