:root {
  --bg-primary: #2c343a;
  --bg-secondary: #ffffff;
  --bg-gray: #52585F;
  --bg-light-gray: #d3d3d3;
  --bg-blue: #5f9ea0;
  --bg-red: #eb5a5a;
  --bg-secondary-hover: #f1f3f7;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
}

.field-container{
  width: 1200px;
  height: 800px;
  position: relative;
  background-color: var(--bg-primary);;
}

.field-background {
  background: url(./assets/images/empty_field.svg) no-repeat;
  background-color: var(--bg-primary);
  background-position: center;
  background-size: contain;
  width: 80%;
  height: 60%;
}

img.field {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
